<p>
  <strong>Children:</strong>
  <%= children.children_name %>
  <%= children.children_aadhar_number %>
  <%= children.children_bdate %>
  <%= link_to 'Remove', [children.user, children], :confirm => 'Really remove Chils?', :method => :delete %>
</p>